<configuration>
    <define name="propExists" class="ch.qos.logback.core.property.ResourceExistsPropertyDefiner">
        <resource>application.properties</resource>
    </define>
    <if condition='${propExists}'>
        <then>
            <property resource="application.properties" />
        </then>
    </if>

    <springProfile name="production">
        <appender name="ROLLBAR" class="com.rollbar.logback.RollbarAppender">
            <accessToken>${ROLLBAR_ACCESS_TOKEN}</accessToken>
        </appender>

        <logger name="com.tradiumapp.swingtradealerts.scheduledtasks" level="TRACE"/>

        <root level="INFO">
            <appender-ref ref="ROLLBAR" />
        </root>
    </springProfile>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %green([%thread]) %highlight(%-5level) %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>
</configuration>